<style>
    #first{
        background-color: brown;
    }
    .second{
        background-color: gray;

    }
    #first
    {
        color:chartreuse;
    }
    .second{
        color:darkorange;
    }
   </style>